*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  overflow: hidden;
}
@font-face {
  font-family: "BonVivantSerif-Bold";
  src: url(./media/BonVivantSerif-Bold.otf);
}
@font-face {
  font-family: "BonVivantSerif";
  src: url(./media/BonVivantSerif.otf);
}
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: #f9eac9;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.295);
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: #f9eac9;
  width: 8px;
}
